wpuploads
wp-content/
*~
*.mine
tmp/*
simone/
homepage/*.jpg
homepage/*.pdf
pdfmasterworkshop/*.pdf
hsdmgdb/pullsave/
canvas/examples/*
pdfessentials/out
pdfessentials/*.pdf
querylog
reportlog
*log
dbconfig.php
.htaccess
*.before
*pdf
#*
pdftrendbrief/out/*
.user.ini
hmm.zip
library.zip
library/
logicfiles/
pdflogicfiles/1522343655Havana_Arrangement.logicx.zip
pdfondemand/
pdfsongreports/
pdftrendreports/
php.ini
techniqueimages/

thumb/cache
hsdmgdb/rsssaves
